.cardBackground {
  background: rgb(71, 103, 222);
  background: linear-gradient(45deg, rgba(71, 103, 222, 1) 20%, rgba(92, 189, 244, 1) 100%);
}

.lift {
  -webkit-transition: box-shadow 0.4s ease, -webkit-transform 0.4s ease;
  transition: box-shadow 0.4s ease, -webkit-transform 0.4s ease;
  transition: box-shadow 0.4s ease, transform 0.4s ease;
  transition: box-shadow 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
}
.lift:focus,
.lift:hover {
  box-shadow: 0rem 1.6rem 1rem rgba(3, 3, 3, 0.3);
  -webkit-transform: translate3d(0, -3px, 0);
  transform: translate3d(0, -3px, 0);
}
